html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1em; 
}

body {
  background-color: var(--color-background);
  color: var(--color-text-default);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  /* line-height: var(--lineheight-text-default);  */
  letter-spacing: var(--letter-spacing-default);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-heading-default);
  line-height: var(--lineheight-heading-default)
}

h1 {
  font-size: var(--heading-h1-small);
  margin-bottom: 8px;
  
}

h2 {
  font-size: var(--heading-h2);
  margin-bottom: 10px;
}

.dark a,
.dark a:visited {
  color: var(--primary-mustard);
  font-weight: bold;
  text-decoration: none;
}
/* a:hover {} */

img {
  max-width: 100%;
  width: 100%;;
}

p {
  line-height: var(--lineheight-text-default)
}

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.hide {
  display: none;
}

@media screen and (min-width: 52.125em) { /* 834px */
  h1 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 74.625em) { /* 1194px */
  h1 {
    font-size: var(--heading-h1-large);
  }

  body {
    padding: var(--document-spacing-large);
  }
}