:root {
  /* Colors */
  --nearcut-grey0: #111111;
  --nearcut-grey2: #919191;
  --nearcut-grey3: #BDBDBD;
  --nearcut-grey4: #E9E9E9;
  --primary-gray: #242424;
  --primary-mustard: #FFEE7A;
  --primary-white: #FFFFFF;


  /* Typography */
  --color-background: var(--primary-white);
  --color-text-default: var(--primary-gray);
  --font-family-default: 'Nunito Sans', sans-serif;
  --font-family-secondary: 'Oswald', sans-serif;
  --letter-spacing-default: 0.02em;
  --font-size-tiny: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */ 
  /* --font-size-medium: 3rem; */
  --font-size-default: 1rem; /* 16px */
  /* --font-size-large: 4rem; */
  --font-weight-default: 400;
  --font-heading-default: 500;
  --lineheight-heading-default: 130%;
  --lineheight-default: 175%;
  --lineheight-text-default: 175%;
  --heading-h1-small: 1.5rem; /* 24px;*/
  --heading-h1-large: 2.5rem; /* 40px;*/


  --heading-h2: 1.5rem; /* 24px;*/

  /* Layout */
  
  /* Grid */
  --grid-small: repeat(4, 1fr);
  --grid-column-small-gap: 16px;
  --grid-row-small-gap: 16px;
  
  --grid-medium: repeat(6, 1fr);
  --grid-column-medium-gap: 16px;
  --grid-row-medium-gap: 16px;

  --grid-large: repeat(12, 1fr);
  --grid-column-large-gap: 16px;
  --grid-row-large-gap: 16px;

  --grid-max-width: 1200px;

  /* Breakpoints */
  /* Sizes are based on width of artboards in designs */

  /* Spacing */
  --document-spacing-small: 40px 18px 0 18px;
  --document-spacing-medium: 30px 22px 65px 22px;
  --document-spacing-large: 30px 0 0 0;
  /* --document-spacing-large: 30px 24px 65px 24px; */
}